* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.background {
    background-color: #ff0778;
    min-height: 100vh;
}

.cabecalho h1 {
    padding-top: 20px;
    padding-right: 35px;
    text-transform: uppercase;
    font-size: 25px;
    color: white;
    line-height: 1.2em;
}

.cabecalho p {
    color: white;
    padding-top: 15px;
    line-height: 1em;
    font-size: 20px;
}

.formulario {
    display: flex;
    flex-direction: column;
}

.conteudo {
    padding-left: 20px;
}
    