* {
    font-family: Roboto,sans-serif;
    margin: 0;
    padding: 0;
}

body, html {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    height: 100%;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 56px;
    position: fixed;
    top: 0px;
    background-color: white;
}

header img {
    margin-left: 20px;
    
}

header a {
    margin-right: 20px;
    text-decoration: none;
    color: #ff0778;
    font-weight: bold;
}

.background {
    background-color: #ff0778;
    min-height: 100vh;
    margin-top: 60px;
}

.cabecalho h1 {
    text-transform: uppercase;
    font-size: 1.75rem;
    color: white;
    line-height: 1.2em;
}

.cabecalho p {
    color: white;
    padding-top: 15px;
    line-height: 1em;
    font-size: 1.25rem;
}

.formulario {
    display: flex;
    flex-direction: column;
}

.conteudo {
    padding-left: 25px;
    padding-right: 25px;
}

.formulario {
    display: flex;
    justify-content: space-around;
    gap: 1.5rem;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
   
}

.menus {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 0.3rem;
}

.menus input {
    flex-basis: 35px;
    border: none;
}

.menus label {
    color: #ff0778;
    font-weight: bold;
    font-size: 0.875rem;
}

.icone_e_input {
    display: flex;
    flex-basis: 40px;
    flex-direction: row;
    width: 100%;
    border-radius: 5px;
    border:  1.5px solid;
    border-color: #c1c1c1;
    align-items: center;
    gap: 1rem;        
}

.icone_maldito {
    margin-left: 15px;
    color: #c1c1c1;
    
}

.cabecalho {
    margin-top: 30px;
    margin-bottom: 20px;
}

form button {
    color: white;
    background-color: #ff0778;
    flex-basis: 44px;
    border-radius: 5px;
    font-size: 1rem;
    border: #ad1457 solid 1.5px;
}

.flexinhas {
    display: flex;
    border: none;
    background-color: white;
    color: #0277bd;
    justify-content: flex-end;
    flex-grow: 1;
    margin-right: 15px;
}

.imagemBusao {
    display: flex;
    justify-content: center;
}

.busao {
    display: flex;
    width: 75%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.menuInferior {
    display: flex;
    justify-content: space-around;
    background-color: white;
    padding: 15px;
    position: fixed;
    bottom: 0px;
    width: 93%;
}

.divMenuInferior {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    color: #c1c1c1;
}

