* {
    font-family: Roboto,sans-serif;
    margin: 0;
    padding: 0;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 56px;
}

header img {
    margin-left: 20px;
}

header a {
    margin-right: 20px;
    text-decoration: none;
    color: #ff0778;
    font-weight: bold;
}

.background {
    background-color: #ff0778;
    min-height: 100vh;
}

.cabecalho h1 {
    text-transform: uppercase;
    font-size: 1.75rem;
    color: white;
    line-height: 1.2em;
}

.cabecalho p {
    color: white;
    padding-top: 15px;
    line-height: 1em;
    font-size: 1.25rem;
}

.formulario {
    display: flex;
    flex-direction: column;
}

.conteudo {
    padding-left: 25px;
    padding-right: 25px;
}

.formulario {
    display: flex;
    justify-content: space-around;
    gap: 0.5rem;
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    
}

.menus {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 0.3rem;
}

.menus input {
    flex-basis: 35px;
    border: none;
}

.menus label {
    color: #424242;
}

.icone_e_input {
    display: flex;
    flex-basis: 35px;
    flex-direction: row;
    width: 100%;
    border-radius: 5px;
    border:  1.5px solid;
    border-color: #c1c1c1;
    align-items: center;
    gap: 1rem;        
}

.icone_maldito {
    margin-left: 15px;
    color: #c1c1c1;
    
}

.cabecalho {
    margin-top: 20px;
    margin-bottom: 20px;
}
